In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('../Data/Totaal influentdebiet RWZI Ede 2021 minuut gegevens.csv',delimiter=';')
df

                DateTime EDE_09902MTW_K100.MTW  wwResolution
0         1-1-2021 00:01           2754,761089         60000
1         1-1-2021 00:02           2609,343947         60000
2         1-1-2021 00:03           2535,541065         60000
3         1-1-2021 00:04           2780,798536         60000
4         1-1-2021 00:05           2192,832206         60000
...                  ...                   ...           ...
525594  31-12-2021 23:55           907,6167848         60000
525595  31-12-2021 23:56           176,3518071         60000
525596  31-12-2021 23:57           113,5575971         60000
525597  31-12-2021 23:58           187,9508758         60000
525598  31-12-2021 23:59           511,6983559         60000

[525599 rows x 3 columns]